<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear customer,</h1>
    <p>
      Thanks for your business! Here is your order summary:
      <%= @order.inspect %>
    </p>

    <p>Have a nice day!</p>
  </body>
</html>